/*--------------------------------------------------------------
# Profile
--------------------------------------------------------------*/
.profile-container {
    background: #d3af71;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  .profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .profile-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  .profile-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: black;
    color: #d3af71;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
    width: 100%;
  }
  .profile-btnn:hover {
    background-color: #555;
  }
  .profile-icon {
    font-size: 24px;
  }