
@{
     ViewBag.Title = "About";
}

<!-- ======= About Section ======= -->
<section id="about" class="about">
     <div class="container" data-aos="fade-up">

          <div class="row">
               <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                    <div class="about-img">
                         <img src="~/Content/img/09.jpg" alt="">
                    </div>
               </div>
               <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                    <h3>Conceptul</h3>
                    <p class="fst-italic">
                         Este greu de imaginat harta gastronomică a Chișinăului fără restaurantul La Sarkis. Și toate mulțumim omului care, în anii nouăzeci, a deschis un magazin de kebab discret în capitală.
                    </p>
                    <p>
                         De mulți ani, acolo s-a preparat cea mai bună carne din oraș, iar după ceva timp, grătarul s-a mutat în centrul istoric, transformându-se într-unul dintre cele mai prestigioase restaurante.
                         Bărbatul se numea Sarkis, iar acest nume împodobește cu mândrie semnul de doisprezece ani încoace, devenind nu numai sinonim cu o calitate impecabilă, ci și stabilind un bar foarte înalt pentru întreaga afacere de restaurante.
                    </p>
                    <p>

                    </p>
               </div>
          </div>

     </div>
</section><!-- End About Section -->
<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us">
     <div class="container" data-aos="fade-up">

          <div class="section-title">
               <h2>De ce?</h2>
               <p>De ce ,,La Sarkis"</p>
          </div>

          <div class="row">

               <div class="col-lg-4">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                         <span>01</span>
                         <h4>Spațiu generos</h4>
                         <p> Restaurantul dispune de două etaje, oferind locuri suficiente pentru clienți.</p>
                    </div>
               </div>

               <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="200">
                         <span>02</span>
                         <h4>Terasa adaptabilă</h4>
                         <p>Terasa de iarnă se transformă într-o terasă de vară, asigurând confort pe tot parcursul anului.</p>
                    </div>
               </div>

               <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="300">
                         <span>03</span>
                         <h4> Design elegant</h4>
                         <p>Terasa închisă include un șemineu din sticlă la comandă și o grădină de iarnă, creând o atmosferă magică.</p>
                    </div>
               </div>

               <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="200">
                         <span>04</span>
                         <h4>Meniu divers</h4>
                         <p>Meniul este unul divers,fiind atât armenin cât și moldovenesc și european.</p>
                    </div>
               </div>

          </div>

     </div>
</section><!-- End Why Us Section -->
