
@{
     ViewBag.Title = "Sali";
}



<!-- ======= Events Section ======= -->
<section id="events" class="events">
     <div class="container" data-aos="fade-up">

          <div class="section-title">
               <h2>Sălile</h2>
               <p>Restaurantul deține peste 5 săli</p>
          </div>

          <div class="events-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
               <div class="swiper-wrapper">

                    <div class="swiper-slide">
                         <div class="row event-item">
                              <div class="col-lg-6">
                                   <img src="~/Content/img/salacomuna.jpg" class="img-fluid" alt="">
                              </div>
                              <div class="col-lg-6 pt-4 pt-lg-0 content">
                                   <h3>Sală comună</h3>
                                   <p>Capacitate - până la 60 de persoane</p>
                                   <p class="fst-italic">
                                        Tonuri calme, bej-ciocolata. Sala restaurantului este concepută pentru a crea o bună dispoziție. Prin ferestrele uriașe cu vitralii poți admira natura în timp ce stai confortabil pe canapele moi.
                                   </p>
                              </div>
                         </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                         <div class="row event-item">
                              <div class="col-lg-6">
                                   <img src="~/Content/img/terasadevara.jpg" class="img-fluid" alt="">
                              </div>
                              <div class="col-lg-6 pt-4 pt-lg-0 content">
                                   <h3>Terasa de vară</h3>
                                   <p>În timpul iernii terasa de vară arată deosebit de magică.</p>
                                   <p class="fst-italic">
                                        Situată practic într-o zonă de parc, La Sarkis pur și simplu nu a putut să nu devină o continuare demnă a acestuia: este proaspătă, liberă, este multă verdeață, iar copacii adăpostesc perfect terasa de căldura verii.
                                        Restaurantul are propriul grădinar care are grijă de plante, care se schimbă constant, decorând stabilirea și dând viață acestuia. Fiecare ghiveci de flori se potrivește bine în interior, iar locul de joacă este înconjurat de un gard din tuia. Vara, florile sunt plantate pe teritoriu, iar vizitatorii sunt racoriti placut de minuscule picaturi de apa, pulverizate intr-un mod special pe terasa.
                                   </p>
                              </div>
                         </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                         <div class="row event-item">
                              <div class="col-lg-6">
                                   <img src="~/Content/img/mezanin.jpg" class="img-fluid" alt="">
                              </div>
                              <div class="col-lg-6 pt-4 pt-lg-0 content">
                                   <h3>Mezanin</h3>
                                   <p>Capacitate - până la 70 de persoane</p>
                                   <p class="fst-italic">
                                        La etajul al doilea al restaurantului nostru se află un mezanin confortabil. Atmosfera plăcută este completată de lumina naturală blândă a zilei.
                                        Seara, sala își schimbă înfățișarea, umplându-se de tonuri profunde și intense, oferind locului o atmosferă elegantă și rafinată.
                                   </p>
                              </div>
                         </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                         <div class="row event-item">
                              <div class="col-lg-6">
                                   <img src="~/Content/img/saladeiarna.jpg" class="img-fluid" alt="">
                              </div>
                              <div class="col-lg-6 pt-4 pt-lg-0 content">
                                   <h3>Grădina de iarnă</h3>
                                   <p>Capacitate - până la 60 de persoane</p>
                                   <p class="fst-italic">
                                        Astăzi, La Sarkis este un restaurant mare, cu două etaje și o terasă de iarnă, care în sezonul cald se transformă într-o terasă de vară.
                                        Puține localuri se pot lăuda cu un astfel de refugiu: terasa închisă este decorată cu un șemineu din sticlă, realizat la comandă, și o grădină de iarnă, care amplifică atmosfera de poveste.
                                        Aici te poți bucura la nesfârșit de căldură și confort, ascultând trosnetul lemnelor, înfășurat într-o pătură moale, savurând o cafea sau admirând vremea prin vitraliile colorate.
                                        La nevoie, șemineul poate fi îndepărtat, transformând lounge-ul într-o elegantă sală de banchet.
                                   </p>
                              </div>
                         </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                         <div class="row event-item">
                              <div class="col-lg-6">
                                   <img src="~/Content/img/vip.jpg" class="img-fluid" alt="">
                              </div>
                              <div class="col-lg-6 pt-4 pt-lg-0 content">
                                   <h3>Sală-VIP</h3>
                                   <p>Două săli, fiecare cu o capacitate de până la 10 persoane.</p>
                                   <p class="fst-italic">
                                        Dacă ai nevoie de intimitate, la parterul restaurantului se află două săli VIP: una este perfectă pentru întâlniri și negocieri de afaceri, iar cealaltă, cu o atmosferă mai relaxată, este ideală pentru evenimente de familie și petreceri cu prietenii. Fiecare dintre aceste săli VIP poate găzdui confortabil până la 10 persoane.
                                        De altfel, la La Sarkis poți sărbători orice eveniment, având posibilitatea de a reamenaja complet spațiul după propriile dorințe.
                                   </p>
                              </div>
                         </div>
                    </div><!-- End testimonial item -->


               </div>
               <div class="swiper-pagination"></div>
          </div>

     </div>
</section><!-- End Events Section -->
